// @font-face {
//   font-family: "SFProDispla";
//   font-weight: 400;
//   src: url("./font/SFProDisplay-Black.woff") format("woff"),
//     url("./font/SFProDisplay-Black.woff2") format("woff2");
// }
@font-face {
  font-family: "SFProDispla";
  font-weight: 300;
  src: url("./font/SFProDisplay-Black.woff") format("woff"),
    url("./font/SFProDisplay-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir LT Std";
  font-weight: 300;
  src: url("./font/AvenirLTStd-Black.woff") format("woff"),
    url("./font/AvenirLTStd-Black.woff2") format("woff2");
}
@font-face {
  font-family: "SFProDispla";
  font-weight: 400;
  src: url("./font/SFProDisplay-Light.woff") format("woff"),
    url("./font/SFProDisplay-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir LT Std";
  font-weight: 400;
  src: url("./font/AvenirLTStd-Light.woff") format("woff"),
    url("./font/AvenirLTStd-Light.woff2") format("woff2");
}

@font-face {
  font-family: "SFProDispla";
  font-weight: 500;
  src: url("./font/SFProDisplay-Medium.woff") format("woff"),
    url("./font/SFProDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir LT Std";
  font-weight: 500;
  src: url("./font/AvenirLTStd-Medium.woff") format("woff"),
    url("./font/AvenirLTStd-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SFProDispla";
  font-weight: 700;
  src: url("./font/SFProDisplay-Bold.woff") format("woff"),
    url("./font/SFProDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir LT Std";
  font-weight: 700;
  src: url("./font/AvenirLTStd-Heavy.woff") format("woff"),
    url("./font/AvenirLTStd-Heavy.woff2") format("woff2");
}
// @font-face {
//   font-family: "Avenir LT Std";
//   font-weight: 700;
//   src: url("./font/AvenirLTStd-Oblique.woff") format("woff"),
//     url("./font/AvenirLTStd-Oblique.woff2") format("woff2");
// }
